body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

h1, a{
	display: flex;
	flex-direction: column;
	font-family: 'Syne', cursive;
	font-size: 22px;
    font-weight: 800;
	color: #B1663C;
    text-decoration: none;
}

h1 > span, span a {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
    text-decoration: none;
}

h2
{
    font-family: 'Syne', sans-serif;
    color: #1D6154;
}

nav ul {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 6rem;
    align-items: center;
}

nav li img
{
    width: 16.36px;
    height: 16.36px;
}

nav li strong
{
	font-family: 'Work sans', cursive;
    font-size: 18px;
    font-weight: 800;
}
nav li:hover
{
    color: #B1663C;
}


.login
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}
.objet
{
    margin-left: -6.5rem;
}

.objet2
{
    margin-left: -3.5rem;
}

.input
{
    margin-bottom: 2rem;
}

.button 
{
    margin-top: 2rem;
    color: #FFFF;
    background: #1D6154;;
    padding: 0.3rem 1rem;
    text-align: center;
    width: min-content;
    white-space: nowrap;
    margin: 1rem auto;
    margin-bottom: 8px;
    border-radius: 60px;
}

footer nav ul {

    list-style-type: none;
	display: flex;
	justify-content: flex-end;
	margin: 2em
}